<h1>Sessions#new</h1>


<form action="<%= session_url%>" method="post">
  <%= authenticate %>
  
  <label for="username"> Username </label>
  <input id="username" name="user[username]" type="text">
  
  <label for="password"> Password </label>
  <input id="password" name="user[password]" type="password">
  
  
  <button> Sign In </button>
</form>


<%= button_to "Sign Up",  new_user_url, method: :get%>
