<h1>Users#new</h1>

<form action="<%= users_url%>" method="post">
  <%= authenticate %>
  <label for="username"> Username </label>
  <input id="username" name="user[username]" type="text">
  
  <label for="password"> Password </label>
  <input id="password" name="user[password]" type="password">
  
  
  <button> Sign Up </button>
</form>
