<h1>Goals#edit</h1>

<form action="<%= goal_url(@goal) %>" method="post">
  <input type="hidden" name="_method" value="put">
  <%= authenticate %>
  
  <input 
    type="hidden" 
    name="goal[completion]" 
    value="<%= @goal.completion || false %>">
  
  <label for="name"> Name </label>
  <input id="name" name="goal[name]" type="text", value="<%= @goal.name%>">
  
  <br>
  Private?
  <% [true, false].each do |el| %>
    <label for="priv"> <%= el %> </label>
    <input type="radio" id="priv"
               <%= "checked" if @goal.privacy == el %>
               name="goal[privacy]"
               value="<%= el %>"> 
  <% end %>
  
  <br>
  <button> Update Goal </button>
</form>

