<h1>Goals Index</h1>

<% @goals.each do |goal| %>
  <%if ( !goal.privacy || (goal.user_id == current_user.id ) )%>
    <%=link_to goal.name, goal_url(goal) %>
  <% end %>
  <br>
<% end %>

<%= link_to "New Goal", new_goal_url %>