<h1>New Goal</h1>



<form action="<%= goals_url%>" method="post">
  <%= authenticate %>
  
  <input type="hidden" name="goal[completion]" value="false">
  
  <label for="name"> Name </label>
  <input id="name" name="goal[name]" type="text">
  
  <br>
  Private?
  <% [true, false].each do |el| %>
    <label for="priv-<%= el %>"> <%= el.to_s %> </label>
    <input type="radio" id="priv-<%= el %>" name="goal[privacy]" value="<%= el %>"> 
  <% end %>
  
  <br>
  <button> Create Goal </button>
</form>
