<h1><%= @goal.name %></h1>

<h3> Completed? <%= @goal.completion %> </h3>

<br>

<h3> Private? <%= @goal.privacy %> </h3>

<%= link_to "Goal Index", goals_url%>

<%= link_to "Edit Goal", edit_goal_url(@goal)%>

<% if current_user.id == @goal.user_id %>
<%= button_to "Delete Goal", goal_url(@goal), method: :delete %>
<% end %>

<form action="<%= goal_url(@goal) %>" method="post">
  <%= authenticate %>
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="goal[completion]" value="true">
  <button> Goal Complete </button>
</form>
