<!DOCTYPE html>
<html>
<head>
  <title>GoalsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
<h3> Welcome <%= current_user.username %> </h3>
<% end %>


<% if flash[:errors]%>
  <% flash[:errors].each do |error|%>
    <%= error %>
  <% end %>
<% end %>

<%= yield %>


<br>
<br>
<% verb = (logged_in? ? "Sign Out" : "Sign In")%>
<% location = (logged_in? ? session_url : new_session_url )%>
<% action = (logged_in? ? :delete : :get)%>

<% unless request.original_url == new_session_url || request.original_url == session_url %>
  <%= button_to verb, location, method: action%>
<% end %>
</body>
</html>
